        <ul id="mainnav">
            <li>
                <a href="{{ .Site.BaseUrl }}/static/files/cv.2017.doc">
                <span class="icon"> <i aria-hidden="true" class="icon-user"></i></span>
                <span> CV </span>
            </a>
            </li>
            <li>
                <a href="{{ .Site.BaseUrl }}/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
            <a href="{{ .Site.BaseUrl }}/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> code </span>
            </a>
            </li>
            <li>
            <a href="{{ .Site.BaseUrl }}/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> talks </span>
            </a>
            </li>
            <li>
        </ul>
